<main>
	<section class="banner banner-background">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="content">
						<div class="d-flex align-items-center justify-content-end" data-aos="fade-left" data-aos-duration="1000">
							<div class="design-dots-main d-flex">
								<div class="dot dot-1"></div>
								<div class="dot dot-2"></div>
								<div class="dot dot-3"></div>
								<div class="dot dot-4"></div>
								<div class="dot dot-5"></div>
								<div class="dot dot-6"></div>
							</div>
							<h1 class="page-heading ms-3 mb-0" data-aos="fade-down" data-aos-duration="1000">About</h1>
						</div>
						<h3 class="page-heading text-end" data-aos="fade-up" data-aos-duration="1000">us</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-us position-relative"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12" data-aos="fade-right" data-aos-duration="1000">
					<h3 class="heading">Brucode is specialized in Design, Development & Maintenance of Web & Moblie
						Applications.</h3>
				</div>
			</div>
			<div class="row gx-5">
				<div class="col-md-6" data-aos="fade-right" data-aos-delay="900" data-aos-duration="1000">
					<div class="left mt-5">
						<p class="paragraph">We understand that the future comes hand in hand with technology,
							making it a key
							tool to improve processes, communicate better, reduce costs and streamline tasks.
							Information and
							Communication Technologies allow us to optimize company processes and seek specific
							answers adapted to
							each business.</p>
						<p class="paragraph">Our way of working is based on creating tailor-made solutions for each
							client, which implies that we are capable of adapting to the demands of any project and company.</p>
						<p class="paragraph">We take care of bringing digital transformation closer to companies
							through
							technological trends.</p>
					</div>
				</div>
				<div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="900" data-aos-duration="1000">
					<div class="right">
						<div class="row grid-box g-0">
							<div class="col-md-6">
								<div class="box box-1 h-100 d-flex align-items-center justify-content-between">
									<img src="assets/img/stats-1.png" alt="...">
									<div class="">
										<div class="d-flex align-items-center">
											<h2 class="mb-1">{{satisfied}}</h2>
											<span class="symbol mb-1">+</span>
										</div>
										<p class="mb-0">Satisfied Clients</p>
									</div>
								</div> 
							</div>
							<div class="col-md-6">
								<div class="box box-2 h-100 d-flex align-items-center justify-content-between position-relative">
									<img src="assets/img/stats-2.png" alt="...">
									<div class="">
										<div class="d-flex align-items-center">
											<h2 class="mb-1">{{projectsDelivered}}</h2>
											<span class="symbol mb-1">+</span>
										</div>
										<p class="mb-0">Projects Delivered</p>
									</div>
									<span class="special-span"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div
									class="box box-3 h-100 d-flex align-items-center justify-content-between position-relative">
									<img src="assets/img/stats-3.png" alt="...">
									<div class="">
										<div class="d-flex align-items-center">
											<h2 class="mb-1" id='0103'>{{positiveReviews}}</h2>
											<span class="symbol mb-1">+</span>
										</div>
										<p class="mb-0">Positive Reviews</p>
									</div>
									<span class="special-span"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="box box-4 h-100 d-flex align-items-center justify-content-between">
									<img src="assets/img/stats-4.png" alt="...">
									<div class="">
										<div class="d-flex align-items-center">
											<h2 class="mb-1" id='0104'>{{teamMembers}}</h2>
											<span class="symbol mb-1">+</span>
										</div>
										<p class="mb-0">Team Members</p> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="graphics line-graphics position-absolute"></div>
	</section>
	<section class="core-values">
		<div class="container">
			<div class="row">
				<div class="col-md-6" data-aos="fade-up-right" data-aos-duration="1000">
					<div class="left gradient">
						<div data-aos="fade-right" data-aos-offset="300" >
							<div class="d-flex align-items-center mb-5 for-margin">
								<div class="horizontal-line"></div>
								<h2>Core values</h2>
							</div>
							<p class="paragraph">We have the skills and resources necessary to design, develop and
								manage the most
								effective technology platform for your projects. Relying on us means having the
								certainty of seeing your
								business project realized, obtaining support during all development processes, having a
								range of skills
								such as to achieve an improvement in productivity and obtain a real competitive
								advantage.</p>
							<div class="row gx-5">
								<div class="col-md-6">
									<div class="box h-100">
										<h4>Latest technological standards</h4>
										<p class="paragraph">Expert in the design of software
											architectures, attentive to
											the choices that are made within the company at the level of framework and
											programming pattern.
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="box h-100">
										<h4>Meeting project deadlines</h4>
										<p class="paragraph">We use the technology & tools which optimize & reduce
											development time in order
											to meet deadlines.
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="box h-100">
										<h4>Dedicated development teams</h4>
										<p class="paragraph">Our developers are committed to providing optimal solutions
											in order to add
											real value that goes beyond what the customer expects.</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="box h-100">
										<h4>24x7 Availability</h4>
										<p class="paragraph">We are available to support your project 24x7 and can work
											with your time-zone.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6" data-aos="fade-up-left" data-aos-duration="1000">
					<div class="right">
						<div class="image">
							<img src="assets/img/why-choose-us.svg" alt="..">
						</div>
						<p class="paragraph">Brucode is an ISO certified organization, which provides bespoke IT
							solutions to
							corporate, communities & entrepreneurs. We aim to grow in the industry by providing
							solutions that are
							reliable, cost effective & future compatible. We are available 24x7 via email, Skype &
							Phone support.
						</p>
						<p class="paragraph special-line">Contact us today to kick-start your project with the best
							guidance and
							support possible.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="nothing-satisfies-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12" data-aos="fade-down"  data-aos-duration="1000">
					<h3 class="heading mb-5">Nothing satisfies us better than a little appreciation from our
						clients.</h3>
				</div>
			</div>
			<div class="row" data-aos="zoom-out-down"  data-aos-duration="1000">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="right d-flex align-items-center position-relative ">
						<div id="carouselExampleControls" class="carousel slide slider" data-bs-ride="carousel">
							<div class="carousel-inner quotes position-relative">
								<div class="carousel-item slider-content active">
									<div class="for-bg">
										<p class="paragraph">I have been dealing with Brucode for a number of years
											now and they have been
											excellent. As a company we always have projects on the go wether it's
											marketing, system
											developments or website upgrades so we are always in constant dialogue.
											We are updated through a
											task based system, skype and through email. They have been truly
											exceptional and I would not
											want to work with anyone other than Brucode for our requirements. It is
											no exaggeration to say
											that without them we would not have been able to fast track many of our
											projects and all of this
											phenomenal service at a great price. The last thing to say is we trust
											their team with our needs
											and they have not let us down once even when sometimes we have a lot of
											pressures to meet
											deadlines.</p>
									</div>
									<div class="for-media-query">
										<div class="client-details d-flex">
											<div class="d-flex justify-content-center align-items-center ">
												<div class="image me-3">
													<img class="client-image" src="assets/img/client-1.jpg" alt="">
												</div>
											</div>
											<div class="h-100">
												<h5 class="client-name mb-1 position-relative"><a href="#"
														class="text-dark">Juan Ortiz
														Romero</a></h5>
												<p class="m-0">Business Development Manager</p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item slider-content">
									<div class="for-bg">
										<p class="paragraph">I have been dealing with Brucode for a number of years
											now and they have been
											excellent. As a company we always have projects on the go wether it's
											marketing, system
											developments or website upgrades so we are always in constant dialogue.
											We are updated through a
											task based system, skype and through email. </p>
									</div>
									<div class="for-media-query">
										<div class="client-details d-flex">
											<div class="d-flex justify-content-center align-items-center ">
												<div class="image me-3">
													<img class="client-image" src="assets/img/client-1.jpg" alt="">
												</div>
											</div>
											<div class="h-100">
												<h5 class="client-name mb-1 position-relative"><a href="#"
														class="text-dark">Juan Ortiz
														Romero</a></h5>
												<p class="m-0">Business Development Manager</p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item slider-content">
									<div class="for-bg">
										<p class="paragraph">I have been dealing with Brucode for a number of years
											now and they have been
											excellent. As a company we always have projects on the go wether it's
											marketing, system
											developments or website upgrades so we are always in constant dialogue.
											We are updated through a
											task based system, skype and through email. They have been truly
											exceptional and I would not
											want to work with anyone other than Brucode for our requirements. It is
											no exaggeration to say
											that without them we would not have been able to fast track many of our
											projects and all of this
											phenomenal service at a great price. The last thing to say is we trust
											their team with our needs
											and they have not let us down once even when sometimes we have a lot of
											pressures to meet
											deadlines.</p>
									</div>
									<div class="for-media-query">
										<div class="client-details d-flex">
											<div class="d-flex justify-content-center align-items-center ">
												<div class="image me-3">
													<img class="client-image" src="assets/img/client-1.jpg" alt="">
												</div>
											</div>
											<div class="h-100">
												<h5 class="client-name mb-1 position-relative"><a href="#"
														class="text-dark">Juan Ortiz
														Romero</a></h5>
												<p class="m-0">Business Development Manager</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="carousel-control-prev previous-arrow position-absolute" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next next-arrow position-absolute" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="insights">
		<app-blog-post></app-blog-post>
	</section>
</main>