<main>
    <section class="banner banner-background">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-end" data-aos="fade-left" data-aos-duration="1000">
                            <div class="design-dots-main d-flex">
                                <div class="dot dot-1"></div>
                                <div class="dot dot-2"></div>
                                <div class="dot dot-3"></div>
                                <div class="dot dot-4"></div>
                                <div class="dot dot-5"></div>
                                <div class="dot dot-6"></div>
                            </div>
                            <h1 class="page-heading ms-3 mb-0" data-aos="fade-down" data-aos-duration="1000">Success</h1>
                        </div>
                        <h3 class="page-heading text-end" data-aos="fade-up" data-aos-duration="1000">stories</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="our-work-1 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                    <div class="image">
                        <img src="assets/img/our-work-1.jpg" alt="..">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center position-relative" data-aos="fade-left" data-aos-duration="1000">
                    <div class="right position-absolute">
                        <div data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500">
                            <p class="paragraph">Web development is one of our core areas of expertise. Our experience
                                in
                                Web
                                development includes working on server side technologies like Asp.Net, MVC, C#, Xamarin,
                                PHP, Python,
                                Ruby, Java to client side scripting languages & frameworks such as HTML, CSS jQuery,
                                Node.js,
                                Angular.js, Backbone.js, Bootstrap, Foundation, Cordova & many other related
                                technologies.
                            </p>
                            <p class="paragraph">Our domain expertise includes CRM & ERP applications, Financial
                                Portals, HR
                                Portals,
                                ecommerce & real estate listing websites, enterprise applications, Auto Portals,
                                Healthcare
                                solutions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="graphics line-graphics position-absolute"></div>
    </div>

    <section class="our-work-experience" data-aos="fade-up" data-aos-duration="1000">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 position-relative">
                    <h3 class="heading">Our work experience is our strength. We make your business more powerful
                        with our
                        expertise</h3>
                    <div class="design-pills-main d-flex align-items-center position-absolute">
                        <div class="first-pill"></div>
                        <div class="second-pill"></div>
                    </div>
                </div>
            </div>
            <div class="box-graphics position-absolute">
                <img src="assets/img/dotted-pattern.png" alt="..">
            </div>
        </div>
        <div class="projects-slider for-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="slider-content d-flex">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-5 p-0">
                                                <div class="image-box">
                                                    <div class="image">
                                                        <img src="assets/img/mockup.jpg" alt="..">
                                                    </div>
                                                </div>

                                            </div>
                                            <div
                                                class="col-md-12 col-lg-7 d-flex align-items-center p-0 for-media-query">
                                                <div class="d-flex align-items-center ms-3 for-margin for-media-query">
                                                    <div class="project-description">
                                                        <p class="paragraph">Web development is one of our core
                                                            areas of expertise. Our experience
                                                            in Web development includes working on server side
                                                            technologies like Asp.Net, MVC, C#,
                                                            Xamarin, PHP, Python, Ruby, Java to client side
                                                            scripting languages & frameworks such as
                                                            HTML, CSS jQuery, Node.js, Angular.js, Backbone.js,
                                                            Bootstrap, Foundation, Cordova & many
                                                            other related technologies.</p>
                                                        <p class="paragraph mb-0">Our domain expertise includes CRM
                                                            & ERP applications, Financial
                                                            Portals, HR Portals, ecommerce & real estate listing
                                                            websites, enterprise applications,
                                                            Auto Portals, Healthcare solutions.</p>
                                                    </div>
                                                    <div class="project-name">
                                                        <h2>Web based Apps, Portals & Enterprise Applications</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="slider-content d-flex">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-5 p-0">
                                                <div class="image-box">
                                                    <div class="image">
                                                        <img src="assets/img/mockup.jpg" alt="..">
                                                    </div>
                                                </div>

                                            </div>
                                            <div
                                                class="col-md-12 col-lg-7 d-flex align-items-center p-0 for-media-query">
                                                <div class="d-flex align-items-center ms-3 for-margin for-media-query">
                                                    <div class="project-description">
                                                        <p class="paragraph">Web development is one of our core
                                                            areas of expertise. Our experience
                                                            in Web development includes working on server side
                                                            technologies like Asp.Net, MVC, C#,
                                                            Xamarin, PHP, Python, Ruby, Java to client side
                                                            scripting languages & frameworks such as
                                                            HTML, CSS jQuery, Node.js, Angular.js, Backbone.js,
                                                            Bootstrap, Foundation, Cordova & many
                                                            other related technologies.</p>
                                                        <p class="paragraph mb-0">Our domain expertise includes CRM
                                                            & ERP applications, Financial
                                                            Portals, HR Portals, ecommerce & real estate listing
                                                            websites, enterprise applications,
                                                            Auto Portals, Healthcare solutions.</p>
                                                    </div>
                                                    <div class="project-name">
                                                        <h2>Web based Apps, Portals & Enterprise Applications</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="slider-content d-flex">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-5 p-0">
                                                <div class="image-box">
                                                    <div class="image">
                                                        <img src="assets/img/mockup.jpg" alt="..">
                                                    </div>
                                                </div>

                                            </div>
                                            <div
                                                class="col-md-12 col-lg-7 d-flex align-items-center p-0 for-media-query">
                                                <div class="d-flex align-items-center ms-3 for-margin for-media-query">
                                                    <div class="project-description">
                                                        <p class="paragraph">Web designing is one of our core
                                                            areas of expertise. Our experience
                                                            in Web development includes working on server side
                                                            technologies like Asp.Net, MVC, C#,
                                                            Xamarin, PHP, Python, Ruby, Java to client side
                                                            scripting languages & frameworks such as
                                                            HTML, CSS jQuery, Node.js, Angular.js, Backbone.js,
                                                            Bootstrap, Foundation, Cordova & many
                                                            other related technologies.</p>
                                                        <p class="paragraph mb-0">Our domain expertise includes CRM
                                                            & ERP applications, Financial
                                                            Portals, HR Portals, ecommerce & real estate listing
                                                            websites, enterprise applications,
                                                            Auto Portals, Healthcare solutions.</p>
                                                    </div>
                                                    <div class="project-name">
                                                        <h2>Web based Apps, Portals & Enterprise Applications</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="inline-slider-buttons">
                                <button class="carousel-control-prev previous-arrow" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next next-arrow" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="want-to-know-more">
        <div class="container">
            <div class="row">
                <div class="col-md-4" data-aos="fade-right" data-aos-duration="1000">
                    <div class="image">
                        <img src="assets/img/want-to-know-more.jpg" alt="..">
                    </div>
                </div>
                <div class="col-md-8 position-relative" data-aos="fade-left" data-aos-duration="1000">
                    <div class="right position-absolute"> 
                        <div class="d-flex justify-content-between">
                            <i class="bi bi-arrow-down"></i>
                            <h2 class="text-center me-5">Want to know<br><span>more?</span></h2>
                        </div>
                        <form class="email-form">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button type="submit" class="submit-btn position-absolute"><i
                                    class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="insights">
        <app-blog-post></app-blog-post>
    </section>
</main>