<footer >
	<section class="company-info">
		<div class="container">
			<div class="row">
				<div class="col-md-6" data-aos="fade-up"  data-aos-duration="1000">
					<div class="company-description">
						<div>
							<h3 class="heading">Brucode Technologies Pvt. Ltd.</h3>
							<p>Being a company operating in Information Technology; we deal with the design and development of software systems and solutions.</p>
							<div class="d-inline-block">
								<a href="#" class="d-flex special-link align-items-center">
									<div class="pills-main ms-2 me-3">
										<div class="pill first-pill"></div>
										<div class="pill second-pill"></div>
									</div>        
										<h5 class="text-capitalize text-white">more details</h5>
								</a>
							</div>
						</div>
						<div class="social-links mt-5">
							<h3 class="heading">Let's Connect</h3>
							<ul class="icons d-flex p-0">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3" data-aos="fade-up"  data-aos-duration="1000">
					<div class="industries">
						<h3 class="heading">Industries</h3>
						<ul class="list-group">
							<li class="list-group-item"><a href="">Health Care</a></li>
							<li class="list-group-item"><a href="">Logistics</a></li>
							<li class="list-group-item"><a href="">Finance</a></li>
							<li class="list-group-item"><a href="">Insurance</a></li>
							<li class="list-group-item"><a href="">Hospitality</a></li>
							<li class="list-group-item"><a href="">Real-estate</a></li>
							<li class="list-group-item"><a href="">Education</a></li>
							<li class="list-group-item"><a href="">Visa-processing</a></li>
							<li class="list-group-item"><a href="">Life-style</a></li>
							<li class="list-group-item"><a href="">Retail & Manufacturing</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3" data-aos="fade-up"  data-aos-duration="1000">
					<div class="services">
						<h3 class="heading">Services</h3>
						<ul class="list-group">
							<li class="list-group-item"><a href="#">Web Development</a></li>
							<li class="list-group-item"><a href="#">Mobile apps Development</a></li>
							<li class="list-group-item"><a href="#">Ui/Ux & Graphics design</a></li>
							<li class="list-group-item"><a href="#">Digital Marketing</a></li>
							<li class="list-group-item"><a href="#">Cloud Computing Solutions</a></li>
							<li class="list-group-item"><a href="#">Business Consultancy Solutions</a></li>
							<li class="list-group-item"><a href="#">IT Security Solutions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="map">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content" data-aos="fade-up" data-aos-duration="1000">
						<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d13721.806660914302!2d76.69688803276131!3d30.705700506343394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d30.7003392!2d76.7000576!4m5!1s0x390feef5b8bb5423%3A0xd3806a28c8dc1f49!2sbrucode%20technologies!3m2!1d30.710345!2d76.70627999999999!5e0!3m2!1sen!2sin!4v1631508930772!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<p class="text-white text-capitalize text-center">©2021 brucode technologies pvt.ltd. all rights reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>