<div class="container">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center" data-aos="fade-up-right" data-aos-duration="1000">
          <div class="design-dots-main d-flex">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
            <div class="dot dot-4"></div>
            <div class="dot dot-5"></div>
            <div class="dot dot-6"></div>
          </div>
          <h3 class="heading ms-3">Insights</h3>
        </div>
        <div class="design-pills-main d-flex align-items-center">
          <div class="first-pill" data-aos="fade-up-left" data-aos-duration="1000"></div>
          <div class="second-pill" data-aos="fade-up-left" data-aos-duration="1000"></div>
        </div>
      </div>
    </div>
    <div class="row gx-5 my-5">
      <div class="col-md-4" *ngFor="let blog of blogs; let i = index">
        <div class="card card-1 h-100" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card-body">
            <h5 class="card-title mb-5">{{blog.heading}}</h5>
            <p class="mb-5"><span>Blog</span>{{blog.date}}</p>
            <p class="card-text mb-5">{{blog.content}}</p>
            <a class="rectangleBtn text-capitalize d-inline-block mb-4"
              (click)="openLink(blog.id)">{{blog.btn}}</a>
          </div>
        </div> 
      </div>
    </div> 
</div>
